#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img, button {
  width: 100px;
  height: 100px;
  margin: 10px;
  user-select: none;  /* Prevents text selection */
  -webkit-user-select: none;
  text-align: center;
}

img:active, button:active {
  filter: brightness(0.8); /* Darkens the button on press */
}

/* Prevent long-press to save image */
img {
  pointer-events: auto;
  -webkit-touch-callout: none; /* Disable long press callout */
  -webkit-user-select: none;
  user-select: none;
}
