    #controls {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #goBtn {
      width: 120px;
      height: 100px;
      margin: 10px;
      user-select: none;  /* Prevents text selection */
      -webkit-user-select: none;
      text-align: center;
    }

    #buttonsRow {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    button {
      width: 120px;
      height: 100px;
      margin: 10px;
      user-select: none;  /* Prevents text selection */
      -webkit-user-select: none;
      text-align: center;
    }

    img:active, button:active {
      filter: brightness(0.8); /* Darkens the button on press */
    }

    img {
      pointer-events: auto; /* イベントを有効化 */
      user-drag: none; /* ドラッグ無効化 */
      -webkit-user-drag: none; /* Webkit系ブラウザでドラッグ無効化 */
      -webkit-touch-callout: none; /* 画像のコンテキストメニュー無効化 */
    }
